@import '../../scss/variables';

.loader {
  width: 64px;
  height: 64px;
  margin: 24px auto;
  border: 8px solid $secondaryTextColor;
  border-top: 8px solid $primaryColor;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
