// Color
$primaryColor: #1565c0;
$primaryDarkColor: #003b8e;
$primaryLightColor: #5e91f2;

$red: #f44336;

$primaryTextColor: #212121;
$secondaryTextColor: #bdbdbd;
$backgroundColor: #e0e0e0;

// Font
$baseFontFamily: 'Rubik', sans-serif;
$extraFontFamily: 'Gloria Hallelujah', cursive;
